[Desktop Entry]
Version=1.0
Type=Application
Name=Idea
Icon=/opt/idea/bin/idea.png
Exec=sh /opt/idea/bin/idea.sh
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea