[Desktop Entry]
Version=1.0
Type=Application
Name=Rider
Icon=/opt/rider/bin/rider.png
Exec=sh /opt/rider/bin/rider.sh
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider